/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 textarea {
  width: 245px;
  height: 30px;
 }

 .text-danger {
  color: red !important;
  font-style: italic;
  font-weight: 400;
}

select, input, textarea {
  padding: 4px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
}

input:not(:read-only), button, select, textarea {
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color:  #23527C;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  padding: 10px;
}